@font-face {
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/iceberg/v20/8QIJdijAiM7o-qnZuIg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
/* =============== HTML PAGE FORMATTING ============ */
/* ====== MOBILE FIRST DESIGN ====== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #daf0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*=============== CALCULATOR OUTER ==============  */
#calculator__outer {
  margin-top: 50px;
  width: 330px;
  min-height: 600px;
  border-radius: 30px;
  background-color: #f8f9fcc3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#calculator__outer.dark-mode {
  margin-top: 50px;
  width: 330px;
  min-height: 600px;
  border-radius: 30px;
  background-color: #17181a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(197, 198, 207, 0.885) 0px -2px 6px 0px inset;
}
/*=============== CALCULATOR INNER ==============  */
#calculator__inner {
  width: 290px;
  min-height: 550px;
  background-color: #d6ddef00;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: minmax(65px, auto) minmax(65px, auto) repeat(5, 65px);
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#output {
  grid-column: 1 / -1;
  grid-row: span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Iceberg', cursive;
  word-wrap: break-word;
  word-break: break-all;
}
#previous-operand {
  font-size: 1.3rem;
  color: #19acff;
}
#current-operand {
  font-size: 4rem;
  color: #19acff;
}
#previous-operand.dark-mode {
  font-size: 1.3rem;
  color: #ecf7fd;
}
#current-operand.dark-mode {
  font-size: 4rem;
  color: #ecf7fd;
}
.span-two {
  grid-column: span 2;
}
button {
  width: 100%;
  height: 100%;
  background: #63c6ff2b;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
button.dark-mode {
  width: 100%;
  height: 100%;
  background: #ffffff39;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
span {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #fcfeff;
  color: #19acff;
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transform: translateY(-6px);
  font-size: 1.6rem;
}
span.dark-mode {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #2a3041;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transform: translateY(-6px);
  font-size: 1.6rem;
}
.operand {
  background-color: #bce7ff;
}
.operand.dark-mode {
  background-color: #abd1e6cd;
}
.span-two span {
  background-color: #19acff;
  color: aliceblue;
  font-size: 3rem;
}
.span-two.dark-mode span {
  background-color: #0094b2;
  color: #ffffff;
  font-size: 3rem;
}
#light-toggle span {
  background-color: #19acff;
  fill: aliceblue;
}
#light-toggle.dark-mode span {
  background-color: #0094b2;
  fill: #ffffff;
}
button:hover span {
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transform: translateY(-5px);
}
button:active span {
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transform: translateY(-2px);
}
/* ============== FOOTER ==============*/
footer {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h2 {
  text-align: center;
  padding: 1em 1em;
  font-size: 1.8em;
  font-weight: 600;
  color: #19acff;
}
#footer-logos {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
