@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* ================== HTML PAGE FORMATTING ================*/
/* ====== MOBILE FIRST DESIGN ====== */

html {
    scroll-behavior:smooth;
}

*, *::before, *::after {
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #083b35;
    font-family: 'Lato', sans-serif;
    color:aliceblue;
    font-size: 16px;
    min-height: 200vh;  
}

/* ============= HEADER ============ */

header {
    width: 100%;
    background-color: #083b35;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 1em 2em;   
}

header h1 {
    color: aliceblue;
    font-size: 2.5em;
    font-weight: 900;
    cursor: pointer;
}

header a {
    color: aliceblue;
    font-size: 2.5em;
    font-weight: 900;
}

header svg{
    cursor: pointer;
}


/* ================ MENU =============== */

nav {
    width: 100%;
    display:none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed;
    top:0;
    right: 0;
    z-index: 4;
    animation-name: slideIn;
    animation-duration: 350ms;
}

@keyframes slideIn {
    from {
        right:-100%;
    }
    to {
        right:0%;
    }
}

nav.close {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed;
    top:0;
    right: 0;
    z-index: 4;
    animation-name: slideOut;
    animation-duration: 350ms;
}

@keyframes slideOut {
    from {
        right:0%;
    }    
    to {
        right:-100%;
    }
}



nav svg{
    position: fixed;
    top:2em;
    right:2em;
    cursor: pointer;
}

nav h2 {
    padding: 1rem 0;
    opacity: 0;
    animation-name: showText;
    animation-delay: 350ms;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

@keyframes showText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav h2:nth-of-type(6) {
    margin-top: 1.5em;
}

nav h2 a {
    color: aliceblue;
    font-weight: 400;
}

nav h2 a:hover {
    color: #e8623d;
    text-decoration: underline;
}

#call-us-menu{
    background-color: antiquewhite;
    padding:1rem 3rem;
    color:#e8623d;
    font-weight: 900;
    border-radius: 1rem;
}

nav h2:nth-of-type(6) a:hover{
    text-decoration: none;   
}

#call-us-menu:hover {
    background-color: rgb(242, 221, 194);
}

/* =============== MAIN ============== */
main {
    width:100%;
    margin-top:12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ====== MAIN HOME IMAGE ======= */
#home-image{
    width: 300px;
    height:380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0%;
    animation-name:slideFromLeft;
    animation-duration: 800ms;
}

@keyframes slideFromLeft {
    from{
        left:-300%;
    }
    to {
        left: 0%;
    }
    
}


#home-image p:nth-of-type(1), #home-image p:nth-of-type(4) {
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: .4rem;
    line-height: 1.8em;
}

#home-image p:nth-of-type(2), #home-image p:nth-of-type(3){
    font-size: 5.2em;
    font-weight: 700;
    color: #e8623d;
    position: absolute;
}
#home-image p:nth-of-type(1){
    margin-bottom: 1.3em;
}

#home-image p:nth-of-type(2) {
    top:-91.5px;
}

#home-image p:nth-of-type(3) {
    bottom:-9.5px;
}

#home-image p:nth-of-type(4){
    margin-top: 1.3em;
}

#home-image img{
    width: 300px;
    height: 380px;
    object-fit: cover;
}

/* ====== MAIN EATING SUSHI IMAGE ======= */

#eating-sushi{
    margin-top: 15em;
    width:100%;
    height: 450px;
}

#eating-sushi img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* ====== MAIN INVITATION TO THE MENU ======= */

#invitation-to-the-menu{
    border-top:#e8623d 70px solid;
    width:100%;
    height: 900px;
    background-color: #f3e8e4;
    position: relative;
}

#invitation-to-the-menu h2{
    margin:.5em .5em;
    text-align: center;
    color: black;
    font-weight: 900;
    letter-spacing: .2rem;
}

#invitation-to-the-menu svg {
    position: absolute;
    top:90px;
    left:30px;
}

#invitation-to-the-menu img:nth-of-type(1) {
    width: 200px;
    height: 240px;
    object-fit: cover;
    position: absolute;
    top:115px;
    right:15px;
    z-index: 1;
}

#invitation-to-the-menu img:nth-of-type(2) {
    width: 200px;
    height: 240px;
    object-fit: cover;
    position: absolute;
    top:280px;
    left:15px;
    z-index: 0;
}

#invitation-to-the-menu img:nth-of-type(3) {
    width: 280px;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top:530px;
    left:50%;
    transform: translate(-50%);
    z-index: 0;
}

#invitation-to-the-menu a {
    position: absolute;
    font-size: 1.3em;
    font-weight: 700;
    bottom: 3%;
    left:50%;
    transform:translate(-50%, -50%);
    color: black;
    background-color: #e8623d;
    padding: 1em 2em;
    border-radius: 17px;
    cursor: pointer;
}

#invitation-to-the-menu a:hover{
    background-color: #e8813d;
} 


/* ====== MAIN LOCATION ======= */

#location {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#location > h2 {
    padding: 1em 1.5em;
    text-align: center;
    letter-spacing:0.05rem;
    line-height: 1.2em;
    color: #e8623d;
    font-weight: 900;
    font-size: 2.1em;
}

#location img {
    width: 100%;
    height:350px;
    object-fit: cover;
}

#address {
    width: 100%;
    background-color: black;
}

#address svg {
    margin-top:1em;
    margin-left:1em;
}
#address > p:nth-of-type(1), #address > p:nth-of-type(2) {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    letter-spacing:0.05rem;
    line-height: 1.2em;
}

#address > p:nth-of-type(2) {
    padding-bottom: 1em;
}

.directions {
    width: 100%;
    padding:2em 1em;
    border-top: aliceblue 2px solid;
}

.directions > h2 {
    text-align: left;
    font-weight: 700;
    padding-bottom: .5em;
}

.directions > p {
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 1.3em;
}

/* ====== MAIN GET-DELIVERY ======= */

.get-delivery{
    border-top:#e8623d 70px solid;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.get-delivery h2 {
    padding: 1em 0.4em;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    letter-spacing:0.05rem;
    line-height: 1.2em;
}

.get-delivery img:nth-of-type(1) {
    width: 100%;
    height:320px;
    object-fit: cover;
}

.get-delivery svg {
    margin-top:1em;
    margin-left:1em;
    margin-bottom: 1em;
    align-self: flex-start;
}

.get-delivery p {
    text-align: center;
    line-height: 1.3em;
}

.get-delivery a {
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
    margin:3em 2em;
    background-color: #e8623d;
    padding: 1em 2em;
    border-radius: 17px;
    color: black;
}


.get-delivery a:hover {
    background-color: #e8813d;
}

.get-delivery img:nth-of-type(2) {
    width: 100%;
    height:340px;
    object-fit: contain;
}

/* ====== MAIN REVIEWS ======= */

#reviews {
    width: 100%;
    background-color: #f3e8e4;
}

#reviews h2 {
    padding: 1em 0.4em;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    letter-spacing:0.05rem;
    line-height: 1.2em;
    color: black;
}

#reviews svg {
    margin-left:1em;
    margin-bottom: 1em;
}

#reviews img {
    width: 100%;
    height:280px;
    object-fit: cover;
}

.singular-review {
    padding: 1em 1em;
    border-bottom: 2px solid black;
}

.singular-review p{
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 1.1rem;
    color: black;
}

.stars {
    padding: .5em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#reviews h2:nth-of-type(2) {
    padding: .8em 0.4em;
    text-align: center;
    font-weight: 900;
    font-size: 2.4em;
    letter-spacing:0.05rem;
    line-height: 1.2em;
    color:#e8623d;
}

#reviews > p {
    text-align: center;
    line-height: 1.3em;
    font-weight: 900;
    color: black;
}

/* ====== MAIN REVIEWS - FORM ======= */
form{
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

form label {
    text-align: left;
    line-height: 1.3em;
    font-weight: 700;
    color: black;
}

form input{
    font-size: 1.8em;
    font-weight: 400;
    width: 100%;
    background-color: #f3e8e4;
    border-bottom: 1px solid black;
}

form button {
    margin:1em 2em;
    background-color: #e8623d;
    padding: .7em 2em;
    border-radius: 17px;
    font-size: 1.4em;
    color: black;
    cursor: pointer;
}

form button:hover {
    background-color: #e8813d;
}

/* ====== FOOTER ======= */

footer {
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h2 {
    text-align: center;
    padding:1em 1em;
    font-size: 1.8em;
    font-weight: 600;
    color: white;
}

#footer-logos {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* ===================== MENU PAGE ================= */

#menu {
    width: 100%;
    margin-top:12em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu-header {
    height: 200px;
    width:100%;
    background-color: #f3e8e4;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

#menu-header h2 {
    text-align: center;
    color: black;
    font-size: 4.2em;
    font-weight: 900;
    letter-spacing: .2rem;
}

#options{
    width:300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#options h3 {
    text-align: center;
    color: black;
    font-size: 1.6em;
    font-weight: 700;
    cursor:pointer;
}


#options h3:hover {
    text-decoration: underline;
}

#main-menu {
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom:10em;
    animation-name:showText;
    animation-duration: 550ms;
}

#desserts-menu {
    width:300px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom:10em;
    animation-name:showText;
    animation-duration: 550ms;
}


#main-menu h4, #desserts-menu h4 {
    width: 100%;
    font-size: 1.5em;
    font-weight: 400;
    border-bottom: #f3e8e4 1px solid;
    margin-top: 1em;
    margin-bottom: .5em;

}

.dishes {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.dishes ul {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.dishes dt, .price {
    font-weight: 900;
}

.dishes dd {
    font-style: italic;
    margin-bottom:.5em;
}



@media screen and (min-width:430px){
   /* ====== MAIN INVITATION TO THE MENU ======= */ 
   #invitation-to-the-menu img:nth-of-type(1) {
    width: 280px;
    }

    #invitation-to-the-menu img:nth-of-type(2) {
        width: 260px;
    }

    #invitation-to-the-menu img:nth-of-type(3) {
        width: 320px;
    }

    .directions > h2 {
        text-align: center;
    }

    .directions > p {
        text-align: center;
    }
}

@media screen and (min-width:569px){
    /* ====== MAIN INVITATION TO THE MENU ======= */ 
    #invitation-to-the-menu img:nth-of-type(1) {
        width: 320px;
     }
     
     #invitation-to-the-menu img:nth-of-type(2) {
        width: 320px;
     }
     
     #invitation-to-the-menu img:nth-of-type(3) {
        width: 400px;
     }
}

@media screen and (min-width:670px){
    /* ====== MAIN INVITATION TO THE MENU ======= */ 
    #invitation-to-the-menu img:nth-of-type(1) {
        width: 380px;
    }
    
    #invitation-to-the-menu img:nth-of-type(2) {
        width: 360px;
    }
    
    #invitation-to-the-menu img:nth-of-type(3) {
        width: 400px;
    }
    #main-menu, #desserts-menu {
       width:400px;
    }
}

@media screen and (min-width:768px){
    /* ====== MAIN INVITATION TO THE MENU ======= */ 
    #invitation-to-the-menu img:nth-of-type(1) {
        right:40px;
     }
     
     #invitation-to-the-menu img:nth-of-type(2) {
        left:40px;
     }
     
}

@media screen and (min-width:768px){
    /* ====== MAIN INVITATION TO THE MENU ======= */ 
    #invitation-to-the-menu img:nth-of-type(1) {
        right:40px;
     }
     
     #invitation-to-the-menu img:nth-of-type(2) {
        left:40px;
     }   
}

@media screen and (min-width:819px){
    /* ====== MAIN INVITATION TO THE MENU ======= */ 
    #invitation-to-the-menu img:nth-of-type(1) {
        right:60px;
     }
     
     #invitation-to-the-menu img:nth-of-type(2) {
        left:60px;
     }

    .get-delivery svg{
        align-self: flex-start;
    }

    .get-delivery img:nth-of-type(2) {
       transform: rotate(-90deg);
       width: 300px;
        
    } 

    #main-menu, #desserts-menu {
        width:500px;
     }
}

@media screen and (min-width:1000px){

    /* ====== MAIN HOME IMAGE ======= */
    #home-image{
        width: 620px;
        height:460px;
    }

    #home-image p:nth-of-type(2), #home-image p:nth-of-type(3){
        font-size: 7.2em;
    }
    #home-image p:nth-of-type(1){
        margin-bottom: 2.5em;
    }
    
    #home-image p:nth-of-type(2) {
        top:-90.5px;
    }
    
    #home-image p:nth-of-type(3) {
        bottom:-87px;
    }
    
    #home-image p:nth-of-type(4){
        margin-top: 2.5em;
    }
    
    #home-image img{
        width: 620px;
        height: 501px;
    }

    /* ====== MAIN EATING SUSHI IMAGE ======= */
    #eating-sushi img {
        width:100%;
        height:600px;
        object-fit: cover;
    }

    /* ====== MAIN INVITATION TO THE MENU ======= */ 
    #invitation-to-the-menu{
        height: 1200px;
    }
    
    #invitation-to-the-menu img:nth-of-type(1) {
        width:480px;
        height:300px;
        right:100px;
    }
    
    #invitation-to-the-menu img:nth-of-type(2) {
        width:460px;
        height: 300px;
        left:100px;
    }
    #invitation-to-the-menu img:nth-of-type(3) {
        width: 600px;
        height: 300px;
        top:640px;
    }   
    
    /* ====== MAIN LOCATION ======= */

    #location img {
        height:800px;  
    }

    /* ====== MAIN GET-DELIVERY ======= */
    .get-delivery img:nth-of-type(1) {
        height:480px;
    }

    /* ====== MAIN REVIEWS ======= */
    #reviews img {
        height:380px;   
    }

}

@media screen and (min-width:1176px){
    #invitation-to-the-menu img:nth-of-type(1) {
        width:580px;
        height:400px;
        right:100px;
    }
    
    #invitation-to-the-menu img:nth-of-type(2) {
        width:560px;
        height: 350px;
        left:100px;
    } 

    #main-menu, #desserts-menu {
        width:600px;
    }
}

@media screen and (min-width:1338px){
    #invitation-to-the-menu img:nth-of-type(1) {
        width:680px;
    }
    
    #invitation-to-the-menu img:nth-of-type(2) {
        width:660px;
    } 
}

@media screen and (min-width:1540px){
    #invitation-to-the-menu img:nth-of-type(1) {
        width:780px;
    }
    
    #invitation-to-the-menu img:nth-of-type(2) {
        width:760px;
    } 
     /* ====== MAIN REVIEWS ======= */
     #reviews img {
        height:480px;   
    }

    #main-menu, #desserts-menu {
        width:700px;
    }
}
@media screen and (min-width:1740px){
    #invitation-to-the-menu{
        height: 1300px;
    }

    #invitation-to-the-menu img:nth-of-type(1) {
        width:880px;
        height: 500px;
    }
    
    #invitation-to-the-menu img:nth-of-type(2) {
        width:860px;
        height:450px;
    }
    
    #invitation-to-the-menu img:nth-of-type(3) {
        width: 800px;
        top:740px;
    } 
     /* ====== MAIN REVIEWS ======= */
     #reviews img {
        height:680px;   
    }
}

@media screen and (min-width:1940px){
    #invitation-to-the-menu img:nth-of-type(1) {
        width:980px;
    }

    #invitation-to-the-menu img:nth-of-type(2) {
        width:960px;
    }
     /* ====== MAIN REVIEWS ======= */
     #reviews img {
        height:780px;   
    }
}


