@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Lemon&display=swap');

:root {
  /* == colors: == */
  --letter: #4D4637;
  --nav-color: #B3AA99;
  --page-background: #F7EBD4;
  /* == font-size: == */
  --20px: 1.25rem;
  --24px: 1.5rem;
  --26px: 1.65rem;
  --32px: 2rem;
  --40px: 2.5rem;
  --48px: 3rem;
  /* == letter styling == */
  --letter-spacing: 0.2px;
  --word-spacing: 0.3px;
  --line-height: 2em;
  --text-margin: 2rem;
  --text-margin-desktop: 5rem;
}


/* ================== HTML PAGE FORMATTING ================*/
/* ====== MOBILE FIRST DESIGN ====== */

html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: var(--page-background);
  font-family: 'Iceberg', cursive;
  font-size: 16px;
  color: var(--letter);
}
.creamy-text {
  font-family: 'Lemon', cursive;
  color: white;
  text-shadow:
    2px 2px 0 var(--letter),
    -2px -2px 0 var(--letter),
    2px -2px 0 var(--letter),
    -2px 2px 0 var(--letter),
    0 2px 0 var(--letter),
    2px 0 0 var(--letter),
    0 -2px 0 var(--letter),
    -2px 0 0 var(--letter),
    0px 4px 4px var(--letter);
}

/* ================== NAV MENU ================== */
nav {
  width: 100%;
  height: 70px;
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  z-index: 3;
}

/* =========== BURGER MENU ========== */
.nav__desktop {
  display: none;
}
.nav__mobile {
  margin-right: 1.2rem;
}
.menu {
  width: 3em;
  height: 3em;
  position: relative;
  z-index: 0;
  margin: 15% auto;
  cursor: pointer;
}
.menu .bit-1::before {
  content: '';
  left: 0.5em;
  top: 0.5em;
  position: absolute;
  width: 1em;
  transform-origin: left bottom;
  height: 0.3em;
  background: var(--letter);
  transition: transform 0.3s, top 0.3s;
}
.menu .bit-1::after {
  content: '';
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1em;
  transform-origin: right bottom;
  height: 0.3em;
  background: var(--letter);
  transition: transform 0.3s, top 0.3s;
}
.menu .bit-2 {
  position: absolute;
  width: 2em;
  top: 50%;
  left: 50%;
  height: 0.3em;
  background: var(--letter);
  transform: translate(-50%, -50%);
  transition: transform 0.3s 0.3s, width 0.3s 0.6s;
}
.menu .bit-3::before {
  content: '';
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  width: 1em;
  transform-origin: left top;
  height: 0.3em;
  background: var(--letter);
  transition: transform 0.3s, bottom 0.3s;
}
.menu .bit-3::after {
  content: '';
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  width: 1em;
  transform-origin: right top;
  height: 0.3em;
  background: var(--letter);
  transition: transform 0.3s, bottom 0.3s;
}
.menu.open .bit-1:before {
  top: 0.4em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: left bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}
.menu.open .bit-1:after {
  top: 0.4em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: right bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}
.menu.open .bit-2 {
  width: 0.3em;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.3s 0.3s, width 0.3s;
}
.menu.open .bit-3:before {
  bottom: 0.4em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: left top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}
.menu.open .bit-3:after {
  bottom: 0.4em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: right top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}

/* =========== MENU WHEN OPENING ============ */

#open-menu {
  background-color: var(--nav-color);
  position: fixed;
  padding-top: 70px;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation-name: slideDown;
  animation-duration: 650ms;
  z-index: 2;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* =========== MENU WHEN CLOSING ============ */

#open-menu.sectionClose {
  background-color: var(--nav-color);
  position: fixed;
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
  animation-duration: 550ms;
  animation-name: slideUp;
  z-index: 2;
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

/* =========== MENU WHEN OPENED - DISPLAYED TEXT  ============ */

#open-menu .open-menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15%;
  opacity: 0;
  animation-name: show;
  animation-delay: 655ms;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}
#open-menu .open-menu__header {
  width: 100%;
}
#open-menu .open-menu__header h4 {
  font-size: var(--24px);
}
#open-menu .open-menu__header p {
  font-size: var(--20px);
}
#open-menu .open-menu__body {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#open-menu .open-menu__body h2:nth-of-type(1) {
  opacity: 0;
  animation-name: show;
  animation-delay: 755ms;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}
#open-menu .open-menu__body h2:nth-of-type(2) {
  opacity: 0;
  animation-name: show;
  animation-delay: 855ms;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}
#open-menu .open-menu__body h2:nth-of-type(3) {
  opacity: 0;
  animation-name: show;
  animation-delay: 955ms;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}
#open-menu .open-menu__body h2 a {
  font-size: var(--32px);
  color: var(--letter);
  display: inline-block;
  position: relative;
  font-weight: 600;
}
#open-menu .open-menu__body h2 a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--letter);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#open-menu .open-menu__body h2 a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#open-menu .open-menu__footer {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#open-menu .open-menu__footer a {
  opacity: 0;
  animation-name: show;
  animation-delay: 1055ms;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ================== BEGINNING OF CONTENT ================ */
.space-creator {
  width: 100%;
  height: 70px;
  margin-bottom: 5em;
}
#line-parts {
  display: none;
}

/* ========== INTRO TEXT / HOME SECTION ========== */
header {
  margin-left: var(--text-margin);
  margin-right: var(--text-margin);
}
header div{
  opacity: 0;
  transform:translateX(-200%);
  animation-name:slideToRight, show;
  animation-duration: 1350ms, 3000ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}
header div h2 {
  font-size: var(--32px);
}
header div p {
  font-size: var(--20px);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  line-height: var(--line-height);
}
header div p:nth-of-type(1) span {
  font-size: var(--24px);
}
header div p:nth-of-type(2) span {
  font-size: var(--20px);
}
/* ========== SPLASH TEXT ========== */

#splash-text {
  margin-left: var(--text-margin);
  margin-right: var(--text-margin);
  margin-top: 5em;
  height: 35vh;
  opacity:0;
  transform:translateX(-200%);
  animation-name:slideToRight, show;
  animation-delay: 250ms, 250ms;
  animation-duration: 1350ms, 3000ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#splash-text p {
  font-size: var(--20px);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  line-height: var(--line-height);
}
#splash-text p strong {
  font-size: var(--20px);
}
.homepage-arrow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation-name: show;
  animation-delay: 2100ms;
  animation-duration: 850ms;
  animation-fill-mode: forwards;
}
.homepage-arrow a {
  animation-name: infiniteUpDown;
  animation-duration: 750ms;
  animation-iteration-count:infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-out;
}
@keyframes infiniteUpDown {
  from{transform:translateY(0%);}
  to{transform: translateY(-10%);}  
}
@keyframes slideToRight {
  from{transform:translateX(-100%);}
  to{transform:translateX(0);}
}
/* ================ PROJECTS SECTION ============= */

#projects {
  width: 100%;
  height: 100px;
  margin-top: 4em;
}
.projects-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.projects-section h2 {
  text-decoration: underline;
  font-size: var(--40px);
}
#projects-section__json-receiver figure {
  width:360px;
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#projects-section__json-receiver figure .video-window {
  margin-bottom: 3em;
  width: 320px;
  height: 320px;
}
.video-window video{
  width:100%;
  height:100%;
  object-fit:contain;
}
#projects-section__json-receiver figure figcaption {
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#projects-section__json-receiver figure figcaption h3 {
  font-size: var(--24px);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  padding: 0.5em; 
}
#projects-section__json-receiver figure figcaption p {
  width:100%;
  font-size: var(--20px);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em; 
}
#projects-section__json-receiver figure figcaption .technologies{
  width:90%;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
#projects-section__json-receiver figure figcaption .technologies svg{
  width:32px;
  height:32px;
  margin: 0.2em;
}
#projects-section__json-receiver figure figcaption .project-buttons{
  width:260px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
}
#projects-section__json-receiver figure figcaption .project-buttons a{
  color: var(--letter);
  padding: 0.5em;
  border-radius: 5px;
  background-color:#dcaf5b63;
  box-shadow: rgba(101, 75, 17, 0.414) 0px 50px 100px -20px, rgba(101, 75, 17, 0.3) 0px 30px 60px -30px, rgba(101, 75, 17, 0.35) 0px -2px 6px 0px inset; 
}
#projects-section__json-receiver figure figcaption .project-buttons a:hover{
  background-color:#eac0734f;
}
#projects-section__json-receiver figure figcaption .project-buttons a:active{
  background-color:#dcaf5b12;
}
/* ============= ABOUT SECTION ============== */

#about {
  width: 100%;
  height: 100px;
  margin-top: 4em;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-section h2 {
  text-decoration: underline;
  font-size: var(--40px);
}
#about-text {
  margin-left: var(--text-margin);
  margin-right: var(--text-margin);
  margin-top: 5em;
  text-align: center;
}
#about-text p {
  font-size: var(--20px);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  line-height: var(--line-height);
  margin-bottom: 2.5em;
}
#about-text p strong {
  font-size: var(--20px);
}
#about-text h3 {
  margin-bottom: 2.5em;
}
#about-technologies-wrapper{
  width:100%;
  overflow:hidden;
}
#infinite-logos {
  height: 100%;  
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding:0 0 1em;
  animation: infiniteSlide 120s linear infinite;
}
#infinite-logos svg{
  width:64px;
  height:64px;
  margin: 1em;
}
@keyframes infiniteSlide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
/* ============= CONTACT SECTION ============== */

#contact {
  width: 100%;
  height: 100px;
  margin-top: 4em;
}
.contact-section {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-section h2 {
  text-decoration: underline;
  font-size: var(--40px);
  margin-bottom: 1em;
}
#social-connections {
  width:100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
  margin-bottom:100px;
}

/* =============== MEDIA QUERIES FOR TABLETS =============== */

@media screen and (min-width: 900px) {

  /* === NAV MENU === */
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    position: relative;
  }
  .nav__desktop h2 a {
    font-size: var(--24px);
  }
  .nav__desktop p {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: var(--24px);
  }
  .nav__desktop ul {
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav__desktop ul a {
    font-size: var(--24px);
    color: var(--letter);
    display: inline-block;
    position: relative;
    font-weight: 600;
  }
  .nav__desktop ul a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--letter);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav__desktop ul a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* ================== BEGINNING OF CONTENT ================ */
  .space-creator {
    margin-bottom: 2.5em;
  }
  /*=== LINE WITH SOCIAL CONNECTIONS ==  */
  #home {
    position: relative;
  }
  #line-parts {
    width:50px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    right: 62px;
    
  }
  #line-parts a {
    margin-bottom: 2.5em;
    writing-mode: vertical-lr;
  }
  #line-parts a:nth-of-type(1){
    opacity: 0;
    animation-name: show;
    animation-delay: 1250ms;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
  }
  #line-parts a:nth-of-type(2){
    opacity: 0;
    animation-name: show;
    animation-delay: 1450ms;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
  }
  #line-parts a:nth-of-type(3){
    opacity: 0;
    animation-name: show;
    animation-delay: 1650ms;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
  }
  
  /* === HOME TEXT === */
  header {
    margin-left: var(--text-margin-desktop);
    margin-right: var(--text-margin-dektop);
  }
  header div p {
    font-size: var(--26px);
  }
  header div p strong {
    font-size: var(--26px);
  }
  #splash-text {
    margin-left: var(--text-margin-desktop);
    margin-right: 10em;
    margin-top: 2em;
    height: 30vh;
  }
  #splash-text p {
    font-size: var(--26px);
  }
  #splash-text p strong {
    font-size: var(--26px);
  }
  #homepage-arrow {
    margin-top: 5em;
  }

  /* === PROJECTS SECTION === */
  #projects {
    margin-top: 4em;
  }
  #projects-section__json-receiver figure {
    width:880px;
    flex-direction: row;
    justify-content: space-between;
  }
  #projects-section__json-receiver figure:nth-of-type(odd) {
    transform: translateX(-5%);
  }
  #projects-section__json-receiver figure:nth-of-type(even) {
    flex-direction: row-reverse;
    transform: translateX(5%);
  }
  #projects-section__json-receiver figure .video-window{
    width: 65%;
    height: 360px;
  }
  #projects-section__json-receiver figure figcaption{
    width: 35%;
    height: 360px;
  }

  /* ============= ABOUT SECTION ============== */
  #about {
    margin-top: 4em;
  }
  #about-text {
    margin-top: 2em;
  }
  #about-text p {
    margin-bottom: 0.8em;
  }
  #about-technologies{
    width:90%;
  }
  #about-technologies svg{
    margin: .6em;
  }
  /* ============= CONTACT SECTION ============== */
  #contact {
    margin-top: 2em;
  }
  #social-connections {
    width: 70%;
    height: 350px;
    flex-direction: row;
  }
  #social-connections a:nth-child(2){
    align-self:flex-start;
  }
  footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1150px) {
  /* === PROJECTS SECTION === */
  #projects-section__json-receiver figure {
    width:1130px;
  }
}

